@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@400;800&family=Oswald&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    justify-content: space-around;
    background-color: #9D5C0D;
}
.head_bar {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    filter: drop-shadow(3px 3px #2F8F9D);
}
.search_section form button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.search_section form button:hover {
    transform: scale(2);
}
.input_section{
    display: flex;
    border: 0px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 10px 20px 20px 0 cadetblue;
    background-color: #F1A661;
}
.input_section form .input {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}
.input_section form button {
    background-color: #FAFAFA;
    color: #9D5C0D;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}
.input_section form button:hover {
    transform: scale(2);
}
.input_section form .input label {
    color: #9D5C0D;
    font-weight: bold;
    font-family: 'Architects Daughter', sans-serif;
}
.input_section form .input_inline label {
    color: #9D5C0D;
    font-weight: bold;
    font-family: 'Architects Daughter', sans-serif;
    margin-right: 10px;
}
main {
    display: flex;
    justify-content: left;
    padding: 10px;
    width: 100%;
}
.pengisi {
    width: 41%;
    padding: 16px;
}
.book_shelf {
    width: 61%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 0px;
    padding: 16px;
    border-radius: 30px;
    box-shadow: 10px 20px 20px 0 cadetblue;
    background-color: #9D5C0D;
}
.book_shelf h1 {
    font-family: 'Architects Daughter', sans-serif;
    color: #FAFAFA;
    filter: drop-shadow(1px 1px blanchedalmond);
}
.book_shelf h2 {
    color: #9D5C0D;
    font-family: 'Oswald', sans-serif;
    filter: drop-shadow(1px 1px whitesmoke);
}
.book_shelf .book_list {
    padding: 16px;
}
.book_shelf .book_list .book_item {
    padding: 8px 16px 16px 16px;
    border: 0px;
    border-radius: 20px;
    margin: 10px 0;
    background-color: #F1A661;
}
.book_shelf .book_list .book_item h3, p {
    margin: 8px 0;
    font-family: 'Architects Daughter', sans-serif;
}
.book_shelf .book_list .book_item .action button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.book_shelf .book_list .book_item .action button:hover {
    transform: scale(1.5) rotate(45deg);
    background-color: blueviolet;
}
.book_shelf .book_list .book_item .action .green {
    background-color: darkgreen;
    color: white;
    font-family: 'Architects Daughter', sans-serif;
}
.book_shelf .book_list .book_item .action .red {
    background-color: darkred;
    color: white;
    font-family: 'Architects Daughter', sans-serif;
}
.book_shelf .book_list .book_item .action .brown {
    background-color: #9D5C0D;
    color: white;
    font-family: 'Architects Daughter', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F7D08A;
}
@media screen and (max-width: 768px){
.head_bar {
    font-size: 9px;
    }
.book_shelf {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 0px;
    padding: 16px;
    border-radius: 30px;
    box-shadow: 10px 20px 20px 0 cadetblue;
    background-color: #9D5C0D;
}
.book_shelf h1{
    font-size: 18px
}
.book_shelf h2{
    font-size: 15px
}
.book_shelf .book_list .book_item h3, p {
    font-size: 12px;
}
.book_shelf .book_list .book_item .action button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;
}
.input_section form .input {
    width: 50px;
}
.input_section form button {
    width: 50px;
    font-size: 8px;
}
.search_section form #searchBookTitle {
    width: 90px;
}
}